@charset "UTF-8";
html, body {
	margin: 0px;
}
.header{
	border:1px solid black;
	margin-bottom:3px;
	padding:auto;
}
.nav{
	text-align: right;
	margin-top: 3px;
	margin-bottom: 3px;
	padding:3px;
}
.sidebar-left{
	border:1px solid red;
	float:left;
	padding:10px;
	margin:3px;
	
}
.container {
	border:1px solid black;
	float:right;
	margin:3px;
	padding:10px;
	
}
.grid{
	display:grid;
	grid-template-columns:150px 1fr;
}
.footer{
	clear: both;
	padding:5px;
	border:1px solid black;
	margin-top:3px;
}



.link{
	text-decoration:none;
	color:green;
}
.search{
	border:1px solid #bcbcbc;
	padding: 20px 20px;
	margin:5px;
	align-items: center;
	align-content: center;
}
.instar{
	margin:5px;
	border:1px solid #bcbcbc;
}
.list{
	margin:5px;
	border:1px solid #bcbcbc;
}
.hash{
	margin:5px;
	border:1px solid #bcbcbc;
}
.keyword{
	margin:5px;
	border:1px solid #bcbcbc;
}