<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases >
		<typeAlias type = "com.project.thein.vo.UserVO" alias = "user"/>
		<typeAlias type = "com.project.thein.vo.ShopVO" alias = "shop"/>
		<typeAlias type = "com.project.thein.vo.ReservationVO" alias = "reser"/>
		<typeAlias type = "com.project.thein.vo.KeywordVO" alias = "keyword"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/project/thein/mybatis/mybatis-mapping.xml"/>
	</mappers>
</configuration>