<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cooker.mapper">
<!-- 로그인 -->
	<select id="loginUser" parameterType="user" resultType="user">
	<![CDATA[
	SELECT *
	FROM bt_user
	WHERE user_id = #{user_id} AND user_pwd=#{user_pwd}
	]]>
	</select>
<!--메인화면에서 검색기능  -->
   <select id="search" resultType="shop">
   <![CDATA[
   SELECT a.*,b.* 
   FROM bt_shop a 
   LEFT OUTER JOIN  bt_shop_ones b ON a.shop_id=b.ones_shop_id
   WHERE shop_location like CONCAT('%',#{loc},'%')
   ORDER BY shop_name DESC
   LIMIT #{start},7
   ]]>
   </select>

   
   
   <!--카운트리스트  -->
   <select id="countList" resultType="int">
   <![CDATA[
   select count(*) 
   from bt_shop
   where shop_location like '%'||#{loc}||'%'  
   ]]>
   </select>

<!-- 관리자-식당 수정(검색) -->
	<select id="shopSearch" resultType="shop">
	<![CDATA[
	SELECT *
	FROM bt_shop
	WHERE shop_id = #{shop_id}
	]]>
	</select>
	
	    <!--가게 상세보기  -->
   <select id="searchShop" resultType="shop">
   <![CDATA[
   SELECT *
   FROM (SELECT * from bt_shop a  WHERE a.shop_id= #{reser_shop_id} ) t
   LEFT OUTER JOIN  bt_shop_ones b ON ones_user_id = #{reser_user_id} 
   AND ones_shop_id = #{reser_shop_id}
   
   ]]>
   </select>
   
       <!--가게 상세보기  -->
   <select id="searchShopnoLogin" resultType="shop">
   <![CDATA[
   SELECT * 
   FROM bt_shop 
   WHERE shop_id=#{reser_shop_id}  
   ]]>
   </select>
   
   <!--메인화면에서 검색기능  -->
   <select id="searchReserTime" resultType="reser">
   <![CDATA[
   SELECT *
   FROM bt_reservation
   WHERE reser_shop_id = #{reser_shop_id} and reser_shop_date = #{reser_shop_date}
   
   ]]>
   </select>
   
<!--메인화면에서 검색기능  -->
   <select id="searchKeyword" resultType="keyword">
   <![CDATA[
   SELECT *
	FROM bt_keyword
   ]]>
   </select>
   <!-- 관리자 - 가게 입력 -->
   <select id="insertShop" parameterType="shop">
   <![CDATA[
   INSERT INTO bt_shop 
   (shop_name,shop_street,shop_menu1,shop_menu1_price,shop_menu2,shop_menu2_price,shop_menu3,shop_menu3_price,shop_location,shop_description,shop_img,shop_point,shop_hash1,shop_hash2,shop_hash3) 
	VALUES
	(#{shop_name},#{shop_street},#{shop_menu1},#{shop_menu1_price},#{shop_menu2},#{shop_menu2_price},#{shop_menu3},#{shop_menu3_price},#{shop_location},#{shop_description},#{shop_img},#{shop_point},#{shop_hash1},#{shop_hash2},#{shop_hash3}) 
   ]]>
   </select>
   <!-- 사용자 정보 -->
	<select id="Userinfo" resultType="user">
	<![CDATA[
	SELECT *
	FROM bt_user
	WHERE user_id = #{user_id}
	]]>
	</select>
	<!--예약 하기  -->
   <select id="reservationInsert" resultType="int">
   <![CDATA[
   INSERT INTO 
   `thein`.`bt_reservation` (
    `reser_shop_id`,
    `reser_user_id`, 
    `reser_shop_date`, 
    `reser_shop_hour`, 
    `reser_shop_person`, 
    `reser_shop_price`, 
    `reser_shop_regi`,
    `reser_pass`) 
   VALUES (#{reser_shop_id}, #{reser_user_id}, #{reser_shop_date}, #{reser_shop_hour}, #{reser_shop_person}, #{reser_shop_price}, #{reser_shop_regi},0)
   ]]>
   </select>
	    <!--해시태그뽑기  -->
   <select id="selectHash" resultType="shop">
   <![CDATA[
   SELECT * 
   FROM bt_shop 
   ]]>
   </select>
   
   	    <!-- 찜목록가져오기  -->
   <select id="getHeart" resultType="shop">
   <![CDATA[
   SELECT * 
   FROM bt_shop 
   where shop_id=#{shop_id}
   ]]>
   </select>
   
   
   <!-- 찜 목록 가져오기 -->
   <select id="heartlist" resultType="Shopones">
   <![CDATA[
   SELECT *
   FROM bt_shop_ones
   WHERE ones_user_id = #{ones_user_id}
   ]]>
   </select>
   
   <!-- 예약 목록 가져오기 -->
   <select id="reservlist" resultType="reser">
   <![CDATA[
   SELECT res.*, shop.shop_name
   FROM bt_reservation res
   JOIN bt_shop shop
   ON shop.shop_id=reser_shop_id
   AND res.reser_user_id = #{reser_user_id}
   ]]>
   </select>
   
   <!-- 회원가입 -->
   <select id="register" resultType="int">
   <![CDATA[
   INSERT INTO 
   `thein`.`bt_user` (
   `user_id`,
   `user_type`,
   `user_pwd`, 
   `user_name`, 
   `user_phone`, 
   `user_email`,
   `user_sns_id`) 
   VALUES (#{user_id},1, #{user_pwd}, #{user_name}, #{user_phone}, #{user_email},#{user_sns_id});
   ]]>
   </select>
   
   
      	    <!-- 찜목록 추가하기  -->
   <select id="insertHeart" resultType="int">
   <![CDATA[
   INSERT INTO `thein`.`bt_shop_ones` (`ones_user_id`, `ones_shop_id`) 
   VALUES ('${ones_user_id}', '${ones_shop_id}');
   ]]>
   </select>
         	    <!-- 찜목록 삭제하기  -->
   <select id="deleteHeart" resultType="int">
   <![CDATA[
   DELETE FROM `thein`.`bt_shop_ones` 
   WHERE  ones_user_id='${ones_user_id}' and ones_shop_id = ${ones_shop_id};
   ]]>
   </select>
</mapper>