<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>
		<typeAlias type="com.seoul.thein.vo.CrudVO" alias="ob"/>
	</typeAliases>
<!-- 쿼리문 -->
<mappers>
	<mapper resource ="com/seoul/thein/mybatis/mybatis-mapper.xml"/>
</mappers>

</configuration>