<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cooker.mapper">
<select id="loginUser" parameterType="user" resultType="_int">
	<![CDATA[
	SELECT COUNT(*)
	FROM bt_user
	WHERE user_id = #{user_id} AND user_pwd=#{user_pwd}
	]]>
	</select>
	
<!--메인화면에서 검색기능  -->
   <select id="search" resultType="shop">
   <![CDATA[
   select * 
   from bt_shop
   where shop_location like '%'||#{loc}||'%'  
   ]]>
   </select>

</mapper>